<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
   http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
   http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd
   http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">

    <context:annotation-config />
    <aop:aspectj-autoproxy/>

    <bean id="appContext" class="com.cedarsoftware.ncube.SpringAppContext" />

    <bean id="cacheManager" class="com.cedarsoftware.ncube.NCubeCacheManager">
        <constructor-arg value="#{systemEnvironment['NCUBE_CACHE_MAX_SIZE'] ?: systemProperties['NCUBE_CACHE_MAX'] ?: 0}"/>
        <constructor-arg value="#{systemEnvironment['NCUBE_CACHE_EVICT_TYPE'] ?: systemProperties['NCUBE_CACHE_EVICT_TYPE'] ?: 'expireAfterAccess'}"/>
        <constructor-arg value="#{systemEnvironment['NCUBE_CACHE_EVICT_DURATION'] ?: systemProperties['NCUBE_CACHE_EVICT_DURATION'] ?: 4}"/>
        <constructor-arg value="#{systemEnvironment['NCUBE_CACHE_EVICT_UNIT'] ?: systemProperties['NCUBE_CACHE_EVICT_UNIT'] ?: 'hours'}"/>
        <constructor-arg value="#{systemEnvironment['NCUBE_CACHE_CONCURRENCY'] ?: systemProperties['NCUBE_CACHE_CONCURRENCY'] ?: 16}"/>
    </bean>

    <bean id="adviceManager" class="com.cedarsoftware.ncube.NCubeCacheManager">
        <constructor-arg value="#{systemEnvironment['ADVICE_CACHE_MAX_SIZE'] ?: systemProperties['ADVICE_CACHE_MAX'] ?: 0}"/>
        <constructor-arg value="#{systemEnvironment['ADVICE_CACHE_EVICT_TYPE'] ?: systemProperties['ADVICE_CACHE_EVICT_TYPE'] ?: 'none'}"/>
        <constructor-arg value="#{systemEnvironment['ADVICE_CACHE_EVICT_DURATION'] ?: systemProperties['ADVICE_CACHE_EVICT_DURATION'] ?: 0}"/>
        <constructor-arg value="#{systemEnvironment['ADVICE_CACHE_EVICT_UNIT'] ?: systemProperties['ADVICE_CACHE_EVICT_UNIT'] ?: 'minutes'}"/>
        <constructor-arg value="#{systemEnvironment['ADVICE_CACHE_CONCURRENCY'] ?: systemProperties['ADVICE_CACHE_CONCURRENCY'] ?: 16}"/>
    </bean>

    <bean id="reflectiveProxy" class="com.cedarsoftware.util.ReflectiveProxy" />

    <bean id="jsonHttpProxy" class="com.cedarsoftware.util.JsonHttpProxy">
        <constructor-arg value="#{runtimeProperties.NCUBE_PROTOCOL}" />
        <constructor-arg value="#{runtimeProperties.NCUBE_HOST}" />
        <constructor-arg value="#{runtimeProperties.NCUBE_PORT}" />
        <constructor-arg value="#{runtimeProperties.NCUBE_CONTEXT}" />
        <constructor-arg value="#{runtimeProperties.NCUBE_USERNAME}" />
        <constructor-arg value="#{runtimeProperties.NCUBE_PASSWORD}" />
    </bean>

    <bean id="runtimeProperties" class="com.cedarsoftware.service.RuntimeProperties">
        <property name="NCUBE_MUTABLE" value="#{systemEnvironment['NCUBE_MUTABLE'] ?: systemProperties['NCUBE_MUTABLE'] ?: false}"/>
        <property name="NCUBE_PROTOCOL" value="#{systemEnvironment['NCUBE_PROTOCOL'] ?: systemProperties['NCUBE_PROTOCOL'] ?: 'https'}"/>
        <property name="NCUBE_HOST" value="#{systemEnvironment['NCUBE_HOST'] ?: systemProperties['NCUBE_HOST'] ?: ''}"/>
        <property name="NCUBE_PORT" value="#{systemEnvironment['NCUBE_PORT'] ?: systemProperties['NCUBE_PORT'] ?: 443}"/>
        <property name="NCUBE_CONTEXT" value="#{systemEnvironment['NCUBE_CONTEXT'] ?: systemProperties['NCUBE_CONTEXT'] ?: ''}"/>
        <property name="NCUBE_USERNAME" value="#{systemEnvironment['NCUBE_USERNAME'] ?: systemProperties['NCUBE_USERNAME'] ?: ''}"/>
        <property name="NCUBE_PASSWORD" value="#{systemEnvironment['NCUBE_PASSWORD'] ?: systemProperties['NCUBE_PASSWORD'] ?: ''}"/>
    </bean>

    <bean id="serverProperties" class="com.cedarsoftware.service.ServerProperties">
        <property name="NCUBE_JDBC_DRIVER" value="#{systemEnvironment['NCUBE_JDBC_DRIVER'] ?: systemProperties['NCUBE_JDBC_DRIVER'] ?: 'org.hsqldb.jdbcDriver'}"/>
        <property name="NCUBE_JDBC_URL" value="#{systemEnvironment['NCUBE_JDBC_URL'] ?: systemProperties['NCUBE_JDBC_URL'] ?: 'jdbc:hsqldb:mem:testdb'}"/>
        <property name="NCUBE_JDBC_USER" value="#{systemEnvironment['NCUBE_JDBC_USER'] ?: systemProperties['NCUBE_JDBC_USER'] ?: 'sa'}"/>
        <property name="NCUBE_JDBC_PWD" value="#{systemEnvironment['NCUBE_JDBC_PWD'] ?: systemProperties['NCUBE_JDBC_PWD'] ?: ''}"/>
        <property name="NCUBE_POOL_QUERY" value="#{systemEnvironment['NCUBE_POOL_QUERY'] ?: systemProperties['NCUBE_POOL_QUERY'] ?: 'select 1 from INFORMATION_SCHEMA.SYSTEM_USERS'}"/>
    </bean>

    <bean name="ncubeControllerAdvice" class="com.cedarsoftware.controller.NCubeControllerAdvice">
        <constructor-arg ref="ncubeController" />
    </bean>

    <bean id="persister" class="com.cedarsoftware.ncube.NCubeJdbcPersisterAdapter">
        <constructor-arg ref="connectionProvider" />
    </bean>

    <bean id="connectionProvider" class="com.cedarsoftware.util.SpringConnectionProvider">
        <constructor-arg ref="ncubeDataSource" />
    </bean>

    <bean id="ncubeTransactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="ncubeDataSource" />
    </bean>

    <tx:advice id="ncubeTxAdvice" transaction-manager="ncubeTransactionManager">
        <tx:attributes>
            <tx:method name="get*" propagation="REQUIRED" read-only="true"/>
            <tx:method name="is*" propagation="REQUIRED" read-only="true"/>
            <tx:method name="has*" propagation="REQUIRED" read-only="true"/>
            <tx:method name="does*" propagation="REQUIRED" read-only="true"/>
            <tx:method name="search*" propagation="REQUIRED" read-only="true"/>
            <tx:method name="load*" propagation="REQUIRED" read-only="true"/>
            <tx:method name="resolveRelativeUrl" propagation="REQUIRED" read-only="true"/>
            <tx:method name="assert*" propagation="REQUIRED" read-only="true"/>
            <tx:method name="check*" propagation="REQUIRED" read-only="true"/>
            <tx:method name="*" propagation="REQUIRED"/>
        </tx:attributes>
    </tx:advice>

    <aop:config>

        <aop:pointcut id="ncubeTransactedMethods" expression="execution(* com.cedarsoftware.ncube.NCubeManagerImpl.*(..))"/>
        <aop:advisor advice-ref="ncubeTxAdvice" pointcut-ref="ncubeTransactedMethods"/>

    </aop:config>

    <bean class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">
        <property name="staticMethod" value="com.cedarsoftware.ncube.NCubeManager.setNCubePersister"/>
        <property name="arguments">
            <list>
                <ref bean="persister"/>
            </list>
        </property>
    </bean>

    <!--
        Set NCE_JDBC_DRIVER, NCE_JDBC_URL, NCE_JDBC_USER, NCE_JDBC_PWD, and NCE_POOL_QUERY as environment
        variables or system properties.
    -->

    <bean id="ncubeDataSource" destroy-method="close" class="org.apache.tomcat.jdbc.pool.DataSource"
          p:driverClassName="#{serverProperties.NCUBE_JDBC_DRIVER}"
          p:url="#{serverProperties.NCUBE_JDBC_URL}"
          p:username="#{serverProperties.NCUBE_JDBC_USER}"
          p:password="#{serverProperties.NCUBE_JDBC_PWD}"
          p:jdbcInterceptors="com.cedarsoftware.util.PoolInterceptor"
          p:initialSize="5"
          p:minIdle="5"
          p:maxIdle="10"
          p:maxActive="100"
          p:maxWait="120000"
          p:jmxEnabled="true"
          p:removeAbandoned="true"
          p:removeAbandonedTimeout="180"
          p:testOnBorrow="true"
          p:testOnReturn="false"
          p:testWhileIdle="false"
          p:timeBetweenEvictionRunsMillis="30000"
          p:minEvictableIdleTimeMillis="30000"
          p:validationInterval="60000"
          p:validationQuery="#{serverProperties.NCUBE_POOL_QUERY}">
    </bean>

    <beans profile="runtime">

        <bean name="ncubeController" class="com.cedarsoftware.controller.NCubeController">
            <constructor-arg ref="ncubeRuntime" />
            <constructor-arg value="true" />
        </bean>

        <bean id="ncubeRuntime" class="com.cedarsoftware.ncube.NCubeRuntime">
            <constructor-arg ref="appContext" />
            <constructor-arg ref="jsonHttpProxy" />
            <constructor-arg ref="cacheManager" />
            <constructor-arg ref="adviceManager" />
            <constructor-arg value="#{runtimeProperties.NCUBE_MUTABLE}" />
        </bean>

    </beans>

    <beans profile="server">

        <bean name="ncubeController" class="com.cedarsoftware.controller.NCubeController">
            <constructor-arg ref="ncubeRuntime" />
            <constructor-arg value="false" />
        </bean>

        <bean id="ncubeRuntime" name="ncubeManager" class="com.cedarsoftware.ncube.NCubeManagerImpl">
            <constructor-arg ref="appContext" />
            <constructor-arg ref="persister" />
        </bean>

    </beans>

    <beans profile="combined">

        <bean name="ncubeController" class="com.cedarsoftware.controller.NCubeController">
            <constructor-arg ref="ncubeRuntime" />
            <constructor-arg value="true" />
        </bean>

        <bean id="ncubeRuntime" class="com.cedarsoftware.ncube.NCubeRuntime">
            <constructor-arg ref="appContext" />
            <constructor-arg ref="reflectiveProxy" />
            <constructor-arg ref="cacheManager" />
            <constructor-arg ref="adviceManager" />
            <constructor-arg value="true" />
        </bean>

        <bean id="ncubeManager" class="com.cedarsoftware.ncube.NCubeManagerImpl">
            <constructor-arg ref="appContext" />
            <constructor-arg ref="persister" />
        </bean>

    </beans>

    <beans profile="test-mutable">

        <bean id="runtimeProperties" class="com.cedarsoftware.service.RuntimeProperties">
            <property name="NCUBE_MUTABLE" value="true"/>
            <property name="NCUBE_PROTOCOL" value="http"/>
            <property name="NCUBE_HOST" value="localhost"/>
            <property name="NCUBE_PORT" value="9000"/>
            <property name="NCUBE_CONTEXT" value="ncube"/>
            <property name="NCUBE_USERNAME" value=""/>
            <property name="NCUBE_PASSWORD" value=""/>
        </bean>

    </beans>

    <beans profile="test-database">

        <bean id="hsqlSetup" class="com.cedarsoftware.util.HsqlSchemaCreator">
            <constructor-arg value="#{serverProperties.NCUBE_JDBC_DRIVER}" />
            <constructor-arg value="#{serverProperties.NCUBE_JDBC_URL}" />
            <constructor-arg value="#{serverProperties.NCUBE_JDBC_USER}" />
            <constructor-arg value="#{serverProperties.NCUBE_JDBC_PWD}" />
            <constructor-arg value="/ddl/hsqldb-schema.sql" />
        </bean>

    </beans>

</beans>