<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
   http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
   http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd">

    <context:annotation-config />
    <context:property-placeholder location="classpath:application.properties"/>
    <aop:aspectj-autoproxy/>

    <bean id="appContext" class="com.cedarsoftware.ncube.SpringAppContext"/>

    <bean id="ncubeCacheManager" class="com.cedarsoftware.ncube.util.GCacheManager">
        <constructor-arg ref="ncubeRemoval"/>
        <constructor-arg value="#{systemEnvironment['NCUBE_CACHE_MAX_SIZE'] ?: systemProperties['NCUBE_CACHE_MAX_SIZE'] ?: ${ncube.cache.max.size}}"/>
        <constructor-arg value="#{systemEnvironment['NCUBE_CACHE_EVICT_TYPE'] ?: systemProperties['NCUBE_CACHE_EVICT_TYPE'] ?: ${ncube.cache.evict.type}}"/>
        <constructor-arg value="#{systemEnvironment['NCUBE_CACHE_EVICT_DURATION'] ?: systemProperties['NCUBE_CACHE_EVICT_DURATION'] ?: ${ncube.cache.evict.duration}}"/>
        <constructor-arg value="#{systemEnvironment['NCUBE_CACHE_EVICT_UNITS'] ?: systemProperties['NCUBE_CACHE_EVICT_UNITS'] ?: ${ncube.cache.evict.units}}"/>
        <constructor-arg value="#{systemEnvironment['NCUBE_CACHE_CONCURRENCY'] ?: systemProperties['NCUBE_CACHE_CONCURRENCY'] ?: ${ncube.cache.concurrency}}"/>
    </bean>

    <bean id="permCacheManager" class="com.cedarsoftware.ncube.util.GCacheManager">
        <constructor-arg><null/></constructor-arg>
        <constructor-arg value="#{systemEnvironment['PERM_CACHE_MAX_SIZE'] ?: systemProperties['PERM_CACHE_MAX_SIZE'] ?: ${perm.cache.max.size}}"/>
        <constructor-arg value="#{systemEnvironment['PERM_CACHE_EVICT_TYPE'] ?: systemProperties['PERM_CACHE_EVICT_TYPE'] ?: ${perm.cache.evict.type}}"/>
        <constructor-arg value="#{systemEnvironment['PERM_CACHE_EVICT_DURATION'] ?: systemProperties['PERM_CACHE_EVICT_DURATION'] ?: ${perm.cache.evict.duration}}"/>
        <constructor-arg value="#{systemEnvironment['PERM_CACHE_EVICT_UNITS'] ?: systemProperties['PERM_CACHE_EVICT_UNITS'] ?: ${perm.cache.evict.units}}"/>
        <constructor-arg value="#{systemEnvironment['PERM_CACHE_CONCURRENCY'] ?: systemProperties['PERM_CACHE_CONCURRENCY'] ?: ${perm.cache.concurrency}}"/>
    </bean>

    <bean id="ncubeRemoval" class="com.cedarsoftware.ncube.util.NCubeRemoval"/>

    <beans profile="runtime">

        <bean id="ncubeControllerAdvice" class="com.cedarsoftware.controller.NCubeControllerAdvice">
            <constructor-arg ref="ncubeController"/>
        </bean>

        <bean id="ncubeController" class="com.cedarsoftware.controller.NCubeController">
            <constructor-arg ref="ncubeRuntime"/>
            <constructor-arg value="true"/>
        </bean>

        <bean id="ncubeRuntime" class="com.cedarsoftware.ncube.NCubeRuntime">
            <constructor-arg ref="jsonHttpProxy"/>
            <constructor-arg ref="ncubeCacheManager"/>
            <constructor-arg ref="allowMutableMethods"/>
        </bean>

        <bean id="allowMutableMethods" class="java.lang.Boolean">
            <constructor-arg value="#{systemEnvironment['NCUBE_MUTABLE_METHODS'] ?: systemProperties['NCUBE_MUTABLE_METHODS'] ?: ${ncube.allow.mutable.methods}}"/>
        </bean>

        <bean id="jsonHttpProxy" class="com.cedarsoftware.util.JsonHttpProxy">
            <constructor-arg value="#{systemEnvironment['NCUBE_PROTOCOL'] ?: systemProperties['NCUBE_PROTOCOL'] ?: ${server.scheme}}"/>
            <constructor-arg value="#{systemEnvironment['NCUBE_HOST'] ?: systemProperties['NCUBE_HOST'] ?: ${server.host}}"/>
            <constructor-arg value="#{systemEnvironment['NCUBE_PORT'] ?: systemProperties['NCUBE_PORT'] ?: ${server.port}}"/>
            <constructor-arg value="#{systemEnvironment['NCUBE_CONTEXT'] ?: systemProperties['NCUBE_CONTEXT'] ?: ${server.context}}"/>
            <constructor-arg value="#{systemEnvironment['NCUBE_USERNAME'] ?: systemProperties['NCUBE_USERNAME'] ?: ${server.username}}"/>
            <constructor-arg value="#{systemEnvironment['NCUBE_PASSWORD'] ?: systemProperties['NCUBE_PASSWORD'] ?: ${server.password}}"/>
        </bean>

    </beans>

    <beans profile="server">

        <import resource="persister.xml"/>

        <bean id="ncubeController" class="com.cedarsoftware.controller.NCubeController">
            <constructor-arg ref="ncubeManager"/>
            <constructor-arg value="false"/>
        </bean>

        <bean id="ncubeManager" class="com.cedarsoftware.ncube.NCubeManagerImpl">
            <constructor-arg ref="persister"/>
            <constructor-arg ref="permCacheManager"/>
        </bean>

    </beans>

    <beans profile="combined">

        <import resource="persister.xml"/>

        <bean id="ncubeController" class="com.cedarsoftware.controller.NCubeController">
            <constructor-arg ref="ncubeRuntime"/>
            <constructor-arg value="true"/>
        </bean>

        <bean id="ncubeRuntime" class="com.cedarsoftware.ncube.NCubeRuntime">
            <constructor-arg ref="reflectiveProxy"/>
            <constructor-arg ref="ncubeCacheManager"/>
            <constructor-arg value="true"/>
        </bean>

        <bean id="ncubeManager" class="com.cedarsoftware.ncube.NCubeManagerImpl">
            <constructor-arg ref="persister"/>
            <constructor-arg ref="permCacheManager"/>
        </bean>

        <bean id="reflectiveProxy" class="com.cedarsoftware.util.ReflectiveProxy"/>

    </beans>

    <beans profile="test-mutable">

        <bean id="allowMutableMethods" class="java.lang.Boolean"><constructor-arg value="true"/></bean>

    </beans>

    <beans profile="test-database">

        <bean id="hsqlSetup" class="com.cedarsoftware.util.HsqlSchemaCreator">
            <constructor-arg value="org.hsqldb.jdbcDriver"/>
            <constructor-arg value="jdbc:hsqldb:mem:testdb"/>
            <constructor-arg value="sa"/>
            <constructor-arg value=""/>
            <constructor-arg value="/config/hsqldb-schema.sql"/>
        </bean>

    </beans>

</beans>